{%- style -%}
  .custom-image-{{ block.id }} {
    border-radius: {{ block.settings.corner_radius }}px;
    overflow: hidden;
    max-width: {{ block.settings.image_width }}px;
    margin: 0 auto;
  }
{%- endstyle -%}

<div
  class="custom-image-{{ block.id }}{% if block.settings.add_shadow %} shadow{% endif %}"
  {{ block.shopify_attributes | escape }}
>
  {%- if block.settings.image != blank -%}
    {{
      block.settings.image
      | image_url: width: block.settings.image_width
      | image_tag:
        loading: 'lazy',
        width: block.settings.image_width,
        height: block.settings.image_height,
        alt: block.settings.image.alt
      | escape
    }}
  {%- else -%}
    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
  {%- endif -%}
</div>
