{{ 'collage.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-modal-video.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  #shopify-section-{{ section.id }} .collage-wrapper-title {
    color: {{ section.settings.heading_color }} !important;
    font-size: {{ section.settings.heading_font_size }}px !important;
  }

  #shopify-section-{{ section.id }} .collage-wrapper-subtitle {
    color: {{ section.settings.subheading_color }} !important;
    font-size: {{ section.settings.subheading_font_size }}px !important;
  }

  .section-{{ section.id }} .collage {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    gap: {{ settings.spacing_grid_horizontal }}px;
  }

  .section-{{ section.id }} .collage__item--image.collage__item--left:first-child,
  .section-{{ section.id }} .collage__item--image.collage__item--right:last-child {
    height: 100%;
    grid-row: span 2;
  }

  .section-{{ section.id }} .collage__item--image.collage__item--left:first-child .media,
  .section-{{ section.id }} .collage__item--image.collage__item--right:last-child .media {
    height: 100%;
    object-fit: cover;
  }

  #shopify-section-{{ section.id }} .collection-image {
    grid-row: span 2;
    height: 100%;
  }

  #shopify-section-{{ section.id }} .collection-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 749px) {
    .section-{{ section.id }} .collage {
      grid-template-columns: 1fr;
    }
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient isolate section-{{ section.id }}">
  <div class="page-width section-{{ section.id }}-padding">
    {%- if section.settings.heading != blank -%}
      <h2 class="collage-wrapper-title {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ section.settings.heading }}
      </h2>
    {%- endif -%}
    {%- if section.settings.subheading != blank -%}
      <h3 class="collage-wrapper-subtitle{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ section.settings.subheading }}
      </h3>
    {%- endif -%}
    {%- if section.settings.text_content != blank -%}
      <div class="collage-text-content rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ section.settings.text_content }}
      </div>
    {%- endif -%}
    <div class="collage{% if section.settings.mobile_layout == 'collage' %} collage--mobile{% endif %}">
      {%- if section.settings.collection != blank -%}
        <div class="collection-image">
          {%- if section.settings.collection.image != blank -%}
            {{
              section.settings.collection.image
              | image_url: width: 1500
              | image_tag: loading: 'lazy', sizes: '(min-width: 750px) 50vw, 100vw'
            }}
          {%- else -%}
            {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>

        {%- assign products = section.settings.collection.products -%}
        {%- for product in products limit: 2 -%}
          <div class="collection-product">
            {% render 'card-product',
              card_product: product,
              media_aspect_ratio: 'adapt',
              show_secondary_image: true,
              extend_height: true
            %}
          </div>
        {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.collage.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "default": "<p>Multimedia collage</p>",
      "label": "t:sections.collage.settings.heading.label"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "default": "<p>Add a subtitle</p>",
      "label": "Subtitle"
    },
    {
      "type": "richtext",
      "id": "text_content",
      "default": "<p>Add your text here</p>",
      "label": "Text Content"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "desktop_layout",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collage.settings.desktop_layout.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.collage.settings.desktop_layout.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.collage.settings.desktop_layout.label"
    },
    {
      "type": "select",
      "id": "mobile_layout",
      "options": [
        {
          "value": "collage",
          "label": "t:sections.collage.settings.mobile_layout.options__1.label"
        },
        {
          "value": "column",
          "label": "t:sections.collage.settings.mobile_layout.options__2.label"
        }
      ],
      "default": "column",
      "label": "t:sections.collage.settings.mobile_layout.label"
    },
    {
      "type": "select",
      "id": "card_styles",
      "options": [
        {
          "value": "none",
          "label": "t:sections.collage.settings.card_styles.options__1.label"
        },
        {
          "value": "product-card-wrapper",
          "label": "t:sections.collage.settings.card_styles.options__2.label"
        }
      ],
      "default": "product-card-wrapper",
      "info": "t:sections.collage.settings.card_styles.info",
      "label": "t:sections.collage.settings.card_styles.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "heading_font_size",
      "min": 12,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Heading Font Size",
      "default": 40
    },
    {
      "type": "color",
      "id": "subheading_color",
      "label": "Subheading Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "subheading_font_size",
      "min": 12,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "Subheading Font Size",
      "default": 24
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection",
      "info": "Featured collection to display image and products"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.collage.presets.name",
      "settings": {
        "heading": "<p>Collection showcase</p>"
      }
    }
  ]
}
{% endschema %}
