{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif
  -%}

  <div class="footer__content-top page-width">
    <div
      class="footer__blocks-wrapper grid grid--1-col grid--3-col-desktop{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      {% if settings.animations_reveal_on_scroll %}
        data-cascade
      {% endif %}
    >
      <!-- Company Information Column -->
      <div
        class="footer-block footer-block--company text-{{ section.settings.company_text_alignment }} grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
          style="--animation-order: 1;"
        {% endif %}
      >
        {%- if section.settings.company_logo != blank -%}
          <div
            class="footer-block__logo-wrapper"
            style="max-width: {{ section.settings.logo_width | default: 150 }}px;"
          >
            {{
              section.settings.company_logo
              | image_url: width: 300
              | image_tag: loading: 'lazy', alt: section.settings.company_name
              | escape
            }}
          </div>
        {%- endif -%}

        {%- if section.settings.company_name != blank -%}
          <h2 class="footer-block__company-name">{{ section.settings.company_name | escape }}</h2>
        {%- endif -%}

        {%- if section.settings.company_tagline != blank -%}
          <p class="footer-block__company-tagline">{{ section.settings.company_tagline | escape }}</p>
        {%- endif -%}

        {%- if section.settings.working_hours != blank -%}
          <div class="footer-block__working-hours rte">
            {{ section.settings.working_hours | replace: '{{ working_hours_start }}',
            section.settings.working_hours_start | replace: '{{ working_hours_end }}',
            section.settings.working_hours_end }}
          </div>
        {%- endif -%}

        {%- if section.settings.phone_number != blank -%}
          <div class="footer-block__phone rte">
            {{ section.settings.phone_number | replace: '{{ phone_number }}', section.settings.phone_number }}
          </div>
        {%- endif -%}

        {%- if section.settings.email != blank -%}
          <div class="footer-block__email rte">
            {{ section.settings.email | replace: '{{ email_address }}', section.settings.email }}
          </div>
        {%- endif -%}

        {%- if section.settings.company_registration != blank -%}
          <div class="footer-block__registration rte">{{ section.settings.company_registration }}</div>
        {%- endif -%}

        {%- if section.settings.company_idno != blank -%}
          <div class="footer-block__idno rte">{{ section.settings.company_idno }}</div>
        {%- endif -%}

        {%- if section.settings.show_payment_icons -%}
          <div class="footer-block__payment-icons">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}

        {%- if section.settings.show_social and has_social_icons -%}
          {%- render 'social-icons', class: 'footer__list-social' -%}
        {%- endif -%}
      </div>

      <!-- Menu Columns -->
      {%- for block in section.blocks limit: 2 -%}
        <div
          class="footer-block footer-block--menu grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {{ block.shopify_attributes }}
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index | plus: 1 }};"
          {% endif %}
        >
          {%- if block.settings.heading != blank -%}
            <h2 class="footer-block__heading inline-richtext">{{- block.settings.heading -}}</h2>
          {%- endif -%}

          {%- if block.settings.menu != blank -%}
            <ul class="footer-block__details-content list-unstyled">
              {%- for link in block.settings.menu.links -%}
                <li>
                  <a
                    href="{{ link.url }}"
                    class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                  >
                    {{ link.title | escape }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
  </div>

  <div
    class="footer__content-bottom{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__localization isolate">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <localization-form>
            {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'FooterCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <localization-form>
            {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="caption-large text-body" id="FooterLanguageLabel">
                  {{ 'localization.language_label' | t }}
                </h2>
                {%- render 'language-localization', localPosition: 'FooterLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      <div class="footer__column footer__column--info">
        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      </div>
    </div>
    <div class="footer__content-bottom-wrapper page-width footer__content-bottom-wrapper--center">
      <div class="footer__copyright caption">
        <small class="copyright__content">
          &copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url }}
        </small>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "limit": 2,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__company.content"
    },
    {
      "type": "image_picker",
      "id": "company_logo",
      "label": "t:sections.footer.settings.company_logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 300,
      "step": 10,
      "unit": "px",
      "label": "t:sections.footer.settings.logo_width.label",
      "default": 150
    },
    {
      "type": "text",
      "id": "company_name",
      "label": "t:sections.footer.settings.company_name.label",
      "default": "VEV"
    },
    {
      "type": "text",
      "id": "company_tagline",
      "label": "t:sections.footer.settings.company_tagline.label",
      "default": "lux shop nails"
    },
    {
      "type": "richtext",
      "id": "working_hours",
      "label": "t:sections.footer.settings.working_hours.label",
      "default": "<p>ежедневно с {{ working_hours_start }} до {{ working_hours_end }}</p>",
      "info": "t:sections.footer.settings.working_hours.info"
    },
    {
      "type": "text",
      "id": "working_hours_start",
      "label": "t:sections.footer.settings.working_hours_start.label",
      "default": "10:00"
    },
    {
      "type": "text",
      "id": "working_hours_end",
      "label": "t:sections.footer.settings.working_hours_end.label",
      "default": "17:00"
    },
    {
      "type": "richtext",
      "id": "phone_number",
      "label": "t:sections.footer.settings.phone_number.label",
      "default": "<p><a href=\"tel:{{ phone_number }}\">+373-68-700-013</a></p>",
      "info": "t:sections.footer.settings.phone_number.info"
    },
    {
      "type": "richtext",
      "id": "email",
      "label": "t:sections.footer.settings.email.label",
      "default": "<p><a href=\"mailto:{{ email_address }}\">info@vev.md</a></p>",
      "info": "t:sections.footer.settings.email.info"
    },
    {
      "type": "richtext",
      "id": "company_registration",
      "label": "t:sections.footer.settings.company_registration.label",
      "default": "<p><strong>SRL VOLOSANOVSCHI NAILS</strong></p>"
    },
    {
      "type": "richtext",
      "id": "company_idno",
      "label": "t:sections.footer.settings.company_idno.label",
      "default": "<p><strong>IDNO 1023602001320</strong></p>"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "default": true,
      "label": "t:sections.footer.settings.show_payment_icons.label"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "select",
      "id": "company_text_alignment",
      "label": "t:sections.footer.settings.company_text_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list",
        "settings": {
          "heading": "КАТАЛОГ"
        }
      },
      {
        "type": "link_list",
        "settings": {
          "heading": "О НАС"
        }
      }
    ]
  }
}
{% endschema %}
