<div class="page-width">
  <h1 class="h2">Your Favorite Products</h1>
  <div id="favorites-page-grid-wrapper">
    <div id="favorites-page-grid" class="grid grid--2-col-tablet grid--4-col-desktop">
      {% assign ids = request.params.favorites | split: ',' %}
      {% assign found_products = false %}
      {% for id in ids %}
        {% assign product = all_products[id] %}
        {% if product %}
          {% assign found_products = true %}
          <div class="grid__item">
            <a href="{{ product.url }}">
              <img
                src="{{ product.featured_image | image_url: width: 500 }}"
                alt="{{ product.title }}"
                width="500"
                height="{{ 500 | divided_by: product.featured_image.aspect_ratio | round }}"
              >
              <h3>{{ product.title }}</h3>
              <p>{{ product.price | money }}</p>
            </a>
          </div>
        {% endif %}
      {% endfor %}
      {% unless found_products %}
        <p>You haven’t added any favorite products yet.</p>
      {% endunless %}
    </div>
  </div>
</div>
