{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="customer account section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="account__header">
    {%- assign default_account_heading = 'customer.account.title' | t -%}
    <h1 class="customer__title">
      {{ section.settings.heading | default: default_account_heading }}
    </h1>
    {%- if section.settings.show_logout -%}
      <a href="{{ routes.account_logout_url }}" class="account__logout-link">
        <span class="svg-wrapper">
          {{- 'icon-account.svg' | inline_asset_content -}}
        </span>
        {{ 'customer.log_out' | t }}
      </a>
    {%- endif -%}
  </div>

  <div class="account__blocks">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'order_history' -%}
          {% render 'account-order-history', block: block %}
        {%- when 'favorites' -%}
          {% render 'account-favorites', block: block %}
        {%- when 'loyalty_points' -%}
          {% render 'account-loyalty-points', block: block %}
        {%- when 'account_details' -%}
          {% render 'account-details', block: block %}
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-account.name",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.main-account.settings.heading.label",
      "default": "My Account"
    },
    {
      "type": "checkbox",
      "id": "show_logout",
      "label": "t:sections.main-account.settings.show_logout.label",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "loyalty_points",
      "name": "t:sections.main-account.blocks.loyalty_points.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.main-account.blocks.loyalty_points.settings.heading.label",
          "default": "My Rewards"
        },
        {
          "type": "checkbox",
          "id": "show_tier_progress",
          "label": "t:sections.main-account.blocks.loyalty_points.settings.show_tier_progress.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_redeem_button",
          "label": "t:sections.main-account.blocks.loyalty_points.settings.show_redeem_button.label",
          "default": true
        },
        {
          "type": "text",
          "id": "rewards_page_url",
          "label": "t:sections.main-account.blocks.loyalty_points.settings.rewards_page_url.label",
          "default": "/pages/rewards"
        }
      ]
    },
    {
      "type": "order_history",
      "name": "t:sections.main-account.blocks.order_history.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.main-account.blocks.order_history.settings.heading.label",
          "default": "Order History"
        },
        {
          "type": "range",
          "id": "orders_per_page",
          "min": 5,
          "max": 50,
          "step": 5,
          "label": "t:sections.main-account.blocks.order_history.settings.orders_per_page.label",
          "default": 20
        }
      ]
    },
    {
      "type": "favorites",
      "name": "t:sections.main-account.blocks.favorites.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.main-account.blocks.favorites.settings.heading.label",
          "default": "My Favorites"
        },
        {
          "type": "range",
          "id": "max_products",
          "min": 2,
          "max": 12,
          "step": 1,
          "label": "t:sections.main-account.blocks.favorites.settings.max_products.label",
          "default": 6
        },
        {
          "type": "range",
          "id": "columns_desktop",
          "min": 2,
          "max": 6,
          "step": 1,
          "label": "t:sections.main-account.blocks.favorites.settings.columns_desktop.label",
          "default": 3
        },
        {
          "type": "checkbox",
          "id": "show_view_all",
          "label": "t:sections.main-account.blocks.favorites.settings.show_view_all.label",
          "default": true
        },
        {
          "type": "select",
          "id": "image_ratio",
          "label": "t:sections.main-account.blocks.favorites.settings.image_ratio.label",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-account.blocks.favorites.settings.image_ratio.options__1.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.main-account.blocks.favorites.settings.image_ratio.options__2.label"
            },
            {
              "value": "square",
              "label": "t:sections.main-account.blocks.favorites.settings.image_ratio.options__3.label"
            }
          ],
          "default": "adapt"
        },
        {
          "type": "checkbox",
          "id": "show_vendor",
          "label": "t:sections.main-account.blocks.favorites.settings.show_vendor.label",
          "default": false
        }
      ]
    },
    {
      "type": "account_details",
      "name": "t:sections.main-account.blocks.account_details.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.main-account.blocks.account_details.settings.heading.label",
          "default": "Account Details"
        }
      ]
    }
  ]
}
{% endschema %}
